extends ../indexAdmin

block userContent
    .container-fluid.p-5
        h1.text-center Formulario de Registro de Productos 
        form(action="/admin/productos/add" method="POST" enctype="multipart/form-data") 
            .form-group
                label.form-label(for="nombre" ) Nombre:
                input.form-control(type="text" name="nombre" id="nombre" required)

            .form-group
                label.form-label(for="descripcion" ) Descripción:
                input.form-control(type="text" name="descripcion" id="descripcion" required)

            .form-group
                label.form-label(for="precio" ) Precio:
                input.form-control(type="number" step="0.01" name="precio" id="precio" required)
            
            .form-group
                label.form-label(for="inventario" ) Inventario:
                input.form-control(type="number" name="inventario" id="inventario" required)

            .form-group
                label.form-label(for="categoria" ) Categoria:
                select.form-control(name="categoria" id="categoria" required)
                    option(value="") Selecciona una categoría
                    each categoria in categorias
                        option(value=categoria.nombre) #{categoria.nombre}

            .form-group
                label(for="imagen") imagen:
                input.form-control(type="file" name="imagen" accept="image/*")
        
            button.btn.btn-primary(type="submit") Registrar Producto

    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js")